.contactUs {
    h1 {
        text-align: center;
        font-size: 22px;
        opacity: 0.7;
        text-transform: uppercase;
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    .contactBox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img {
            width: 100%;
            height: auto;
        }
        .form {
            padding: 0px 20px;
            margin-top: 20px;
            .formsec {
                display: flex;
                flex-direction: column;
                label {
                    color: #b2b3d3;

                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px; /* 133.333% */
                    text-transform: uppercase;
                }
                input,
                textarea {
                    border-radius: 10px;
                    background: #272a5e;
                    border: none;
                    padding: 15px;
                    margin-bottom: 30px;
                    margin-top: 8px;
                }
                textarea {
                    height: 100px;
                }
            }
            .actionBtn {
                margin-top: 0px;
                height: 48px;
                text-align: center;
                line-height: 48px;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                background: linear-gradient(95deg, #0d2b36 0%, #182673 100%);
                text-decoration: none;
                color: #ffffffdc;
                display: block;
            }
        }
    }
    .box {
        margin: 0px auto;
        width: 50vw;
        height: 30vw;
        background-color: red;
        border-radius: 100%;
        border-radius: 869px;
        background: #373c95;
        filter: blur(150px);
        z-index: -1;
    }
}

@media only screen and (max-width: 1000px) {
    .contactUs {
        .contactBox {
            grid-template-columns: auto;
            margin-bottom: 80px;
            .form {
                padding: 0px;
            }
        }
    }
}
