.services {
    z-index: 1;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .box {
        width: 50vw;
        height: 22vh;
        transform: rotate(-50.376deg);
        flex-shrink: 0;
        border-radius: 100px;
        background: rgba(21, 39, 101, 0.21);
        filter: blur(100px);
        backdrop-filter: blur(4px);
        position: absolute;
        z-index: -1;
        left: 25%;
    }
    h1 {
        text-align: center;
        font-size: 22px;
        opacity: 0.7;
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .ourServices {
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    .actionBtn {
        margin-top: 50px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: linear-gradient(95deg, #0d2b36 0%, #182673 100%);
        text-decoration: none;
        color: #ffffffdc;
        display: block;
    }
}

@media only screen and (max-width: 1000px) {
    .services {
        .ourServices {
            z-index: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .services {
        .ourServices {
            z-index: 1;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
        }
    }
}
